*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
}
body{
    height: 5000px;
    width: 100%;
    overflow-x: hidden;
}
/*******************************/
/*********** NAV-BAR **********/
/*****************************/
#main-nav{
  position: fixed;
    background-color: #111111;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

}
#main-nav .elm{
    padding: 1%;
    width: 75%;
}
#main-nav .elm:nth-child(1){
    width: fit-content;
}
#main-nav .elm .txt{
    color: white;
    font-family: 'Offside', cursive;
    font-size:3vw;

}
#main-nav #nav{
    text-align: end;
}
#main-nav #nav ul li {
    width: 100%;
    display: inline;
    margin: 0% 2%;
}
#main-nav #nav ul li a{
    color: white;
    font-size:1.4vw;
    font-family: Poppins;
    font-weight: lighter;
}
#main-nav #nav ul li:nth-child(1) a{
    font-weight: bolder;
}
/*********** HBM **********/
#hbm{
    display: none;
    visibility: hidden;
}
#hbm-nav{
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 0vh;
    z-index: 3;
    
    visibility: hidden;
}
#hbm-nav #close{
    color: white;
    font-family: cursive;
    font-size: 10vw;
    text-align: center;
    margin-top: 20%;
}
#hbm-nav ul{
    width: fit-content;
    margin: auto;
    margin-top: 15vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
#hbm-nav ul li{
    margin: 2% 0%;
}
#hbm-nav ul li a{
    color: white;
    font-size: 5vw;
    font-family: Poppins;

    
}
@keyframes openHBM{
    from{
        height: 0vh;
    }
    to{
        height: 100vh;
    }
}
@keyframes closeHBM{
    from{
        height: 100vh;
    }
    to{
        height: 0vh;
        visibility: hidden;
    }
}
/*******************************/
/*********** HEADER **********/
/*****************************/


/****** PHOTO GRID ****/
header .row {
    background-color: green;
    width: 100%;
    
    border: 2px solid white;
    display: flex;
}
header .row:nth-child(2) {
    height: 60vh;
}
header .row:nth-child(3) {
    height: 40vh;
}
header .row div{
    filter: brightness(80%);
    z-index: 1;
}
header #r1 #cel1{
    background-color: rgb(45, 231, 45);
    width: 70%;
    border: 2px solid white;
    background-image: url('https://cdn.edi-dev.tn/sfaxmedina/pic1.png');
    background-position: center;
    background-size: cover;
    
}
header #r1 #cel2{
    background-color: rgb(45, 231, 45);
    width: 30%;
    border: 2px solid white;
    background-image: url('https://cdn.edi-dev.tn/sfaxmedina/pic2.png');
    background-position: center;
    background-size: cover;
}
header #r2 #cel1{
    background-color: rgb(45, 231, 45);
    width: 40%;
    border: 2px solid white;
    background-image: url('https://cdn.edi-dev.tn/sfaxmedina/pic3.png');
    background-position: center;
    background-size: cover;
}
header #r2 #cel2{
    background-color: rgb(13, 245, 13);
    width: 40%;
    border: 2px solid white;
    background-image: url('https://cdn.edi-dev.tn/sfaxmedina/pic4.png');
    background-position: center;
    background-size: cover;
}
header #r2 #cel3{
    background-color: rgb(0, 255, 0);
    width: 20%;
    border: 2px solid white;
    background-image: url('https://cdn.edi-dev.tn/sfaxmedina/pic5.png');
    background-position: center;
    background-size: cover;
}

/***** TXT *****/
#txt-welc{
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 2;

}
#txt-welc h1{
    color: white; font-size:3vw;
    font-family: Poppins;
    font-weight: lighter;

}
#txt-welc::before{
content: '';
width: 200px;
background-color: white;
display: block;
height: 10px;
}
#txt-welc::after{
    content: '';
    width: 100%;
    background-color: white;
    display: block;
    height: 10px;
    right: -20px;
}
/*******************************/
/*********** SEP **********/
/*****************************/
.SEP{
    background-image: url("https://cdn.edi-dev.tn/sfaxmedina/sep.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 30vh;
    margin: 5% 0%;
}
.SEP .cnter{
    text-align: center;
    padding-top: 5%;
}
.SEP .cnter h1{
    color: white; font-size:4vw;
    font-family: Poppins;
    font-weight: lighter;
}
.SEP .cnter h1::after{
    content: '';
    width:60%;
    height: 8px;
    background-color: white;
    display: block;
    margin: auto;
}

/******************************************************/
/************ MAIN *****************/
/******************************************************/
.m-blc{
    width: 100%;
    height: fit-content;
    padding: 1% 0%;
    /*height: 1375px;*/
    display: flex;
    flex-direction: column;
    margin: 5% 0%;
}
.m-blc .blc-1 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #a67d73 50%, #ffffff 50%);
}
.m-blc .blc-1 .Mimg {
    width: 90%;
    padding-top: 1%;
    padding-left: 2%;
    z-index: -1;
    display: flex;
}
.m-blc .blc-1  .Mimg img{
    width: 100%;
    height: 100%;
}
.m-blc .blc-1 .txt {
    background-color: black;
    position: absolute;
    width: 30%;
    color: wheat;
    margin-top: 10%;
    padding: 2%;
    background: rgba(50, 33, 33, 0.4);
    margin-left: 40%;
}
.m-blc .blc-1  .txt h1,p{
    color: white;
}
.m-blc .blc-1  .txt h1{  
    font-family: Offside;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4vw;
    text-align: center;
    color: #FFFFFF;
}

.m-blc .blc-1  .txt p{  
    margin-top: 8%;
    font-family: Cairo;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw;
    text-align: center;
    
    color: #FFFFFF;
    
    }
.blc-2{
        width: 100%;
        /*height: 1400px;*/
        height: fit-content;
        margin: auto;
        padding: 2% 0%;
        display: flex;
        margin-top: -15%;
        background-color: #A67D73;
        background-image: linear-gradient(to left, #a67d73 50%, #ffffff 50%);
}



 .row-G {
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    margin: auto;
  }
   .row-G .img {
    height: 50%;
    border: 5px solid white;
  }
/************************************************************************/
/****************** P 1 ****************************************/

    .row-G .im1P1{
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }
  .row-G .im2P1{
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
  }
   .row-G .im3P1{
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }
  .row-G .im4P1 {
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }
/****************** P 2 ****************************************/
.row-G .im1P2{
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }
  .row-G .im2P2{
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
  }
   .row-G .im3P2{
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }
  .row-G .im4P2 {
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }
  
/****************** P 3 ****************************************/
.row-G .im1P3{
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }
  .row-G .im2P3{
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
  }
   .row-G .im3P3{
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }
  .row-G .im4P3 {
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }

/****************** P 4 ****************************************/
.row-G .im1P4{
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }
  .row-G .im2P4{
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
  }
   .row-G .im3P4{
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }
  .row-G .im4P4 {
    background: url('') no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }
  /****************** other places ****************************************/
  .other-m-blc{
      width: 100%;
      height: fit-content;
      padding: 5% 0%;
      background: rgba(166, 125, 115, 0.5);
  }
.other-m-blc  #Gtitle {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 4vw;
        margin-top: -3.5%;
        position: absolute;
        width: 100%;
        text-align: center;
        color: #000000;
}
.other-m-blc .CARDS{
    width: 100%;
    height: 80%;
    margin-top: 5%;
    display: flex;
}
.other-m-blc .CARDS .Card{
    width: 30%;
    background-color: white;
    height: fit-content;

    word-wrap: break-word;
    padding: 3%;
    border: 5px solid rgba(166, 125, 115, 0.5);
    
}
.other-m-blc .CARDS .Card .shape{
    width: 40%;
    margin: auto;
}
.other-m-blc .CARDS .Card .shape img{
    border-radius: 50%;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    width: 100%;

}
.other-m-blc .CARDS .Card .txt{
    
    padding-top: 6%; 
}
.other-m-blc .CARDS .Card .txt #title{
        font-size: 3vw;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        text-align: center;
}
.other-m-blc .CARDS .Card .txt p{
    padding-top: 12%;
    color: black;
    font-size: 1.5vw;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

/******************************************************/
/************ Historie *****************/
/******************************************************/
.nospace{
    margin-bottom: 0;
}
#histo{
    width: 100%;
    height: fit-content;
    background-color: black;
}
#histo .Cel{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#histo .VeriG{
    flex-direction: column;
}

#histo .HoziG{
flex-direction: row;
}
#histo .Cel  .img{
    width: 50%;
    margin:  5% 6%;
}
#histo .Cel  .img img{
    width: 100%;
    height: 100%;
}
#histo .Cel  .txt{
    width: 50%;
    margin:  5% 6%;
    text-align: center;

}
#histo .Cel  .txt p{
    font-family: 'Podkova', serif;
font-style: normal;
font-weight: normal;
font-size: 2vw;
color: #FFFFFF;
}
  /******************************************************/
/************ Interviews *****************/
/******************************************************/
.intev{
width: 100%;
height: fit-content;
background: linear-gradient(180deg, rgba(221, 221, 221, 0) -22%, rgba(196, 196, 196, 0.25) 42.81%, rgba(196, 196, 196, 0) 100%);
}
.intev .Cadre{
   width: 80%;
   height: 50vw;
    margin: auto;
    margin: 10% auto;
    border: 17px solid #000000;
    box-sizing: border-box;

}
/******************************************************/
/************ RESPONSIVE for image grid and text *****************/
@media screen and (max-width: 600px) {
    .m-blc .blc-1 .Mimg {
        width: 100%;
    }
    .row-G  {
        height: 300px; 
      }
      
      .row-G .img{
          border: 0.5px solid white;
        height: 50%;  
      }
      
      .row-G .img-1,
      .row-G .img-4 {
        width: 24%;
      }
      .row-G .img-2,
      .row-G .img-3 {
        width: 70%;
      }
      .m-blc .blc-1  .txt h1{  
        font-family: Offside;
        font-style: normal;
        font-weight: normal;
        font-size: 3vw;
        text-align: center;
        color: #FFFFFF;
    }
    
    .m-blc .blc-1  .txt p{  
        margin-top: 8%;
        font-family: Cairo;
        font-style: normal;
        font-weight: normal;
        font-size: 2.5vw;
        text-align: center;
        color: #FFFFFF;
        
        }
        .m-blc .blc-1 .txt {
            width: 80%;
            margin-top: 2%;
            margin-left: 10%;
        }

  }

  @media screen and (min-width: 600px) {
    .row-G  {
      height: 600px; 
    }
    .row-G .img{
        border: 0.5px solid white;
      height: 50%;  
    }
    
    .row-G .img-1,
    .row-G .img-4 {
      width: 24%;
    }
    .row-G .img-2,
    .row-G .img-3 {
      width: 70%;
    }
  }
/************ RESPONSIVE *****************/
@media screen and (max-width:1366px) and (min-width:1024px){
    #main-nav #nav ul li a {
        font-size:1.5vw;
    }
    
  }
@media screen and (max-width:1024px) and (min-width:760px){
    #main-nav #nav ul li a {
        font-size:2vw;
    }
  }
  @media screen and (max-width:760px) and (min-width:280px){
    /******** NAV *********/
    #main-nav .elm .txt{
        font-size: 6vw;
    }
    #main-nav #nav ul li {
        display: none;
        visibility: hidden;
    }
    /******** HBM% *********/
    #hbm{
        display: inline-block;
        visibility: visible;
        color: wheat;
    }
    #main-nav .elm{
        width: fit-content;
        padding: 2%;
    }
    /******** WLC TEXT *********/
    #txt-welc h1 {
        color: white;
        font-size: 6vw;
        font-family: Poppins;
        font-weight: lighter;
    }
    #txt-welc {
        position: absolute;
        top: 34%;
        left: 10%;
        z-index: 2;
    }
    /************SEC 1 ****************/
    .m-blc .blc-1  .txt h1{
     font-size: 6vw;
    }
    .m-blc .blc-1  .txt p{
        font-size: 4vw;
        line-height: normal;
       }
       .m-blc .blc-1  .txt{
           padding: 2%;
       }
       .blc-2 {
           margin-top: 6%;
       }
    /******** CARDS *********/
    .other-m-blc  #Gtitle {
        font-size: 10vw;
        margin-top: -8%;
}
    .other-m-blc .CARDS{
        flex-direction: column;
        text-align: center;
        padding-top: 8%;
    }
    .other-m-blc .CARDS .Card{
        width: 90%;
    }
    .other-m-blc .CARDS .Card .txt #title{
        font-size: 10vw;
    }
    .other-m-blc .CARDS .Card .txt p{

        font-size: 6vw;
    
    }
    /*********** Historique *************/
    #histo .HoziG{
        flex-direction: column;
    }
    #histo .Cel .img , #histo .Cel .txt {
        width: 90%;
    }
    #histo .Cel .txt p {
        font-size: 4vw;
    }
    /*********** Interviews *************/

    .intev .Cadre{
        
     border: 7px solid #000000;

     
     }
  /************* SEP ******************/
  .SEP .cnter {
    text-align: center;
    padding-top: 14%;
    }
    .SEP .cnter h1 {
        font-size: 8vw;
    }
}
@media screen and (max-width:3000px) and (min-width:800px){
    .f-c-h {
        height: fit-content;
    }
}


  /********************************/
.nopadding{
    padding: 0 !important;
}
.SEP button{
    margin-top: 4%;
    margin-bottom: 4%;
     border: 6px solid #FFFFFF;
     box-sizing: border-box;
     border-radius: 10px;
     padding: 2%;
     font-family: Podkova;
     font-style: normal;
     font-weight: bold;
     font-size: 6vw;
     /* identical to box height */
     background-color: transparent;
     color: #FFFFFF;
 
 
     } 